<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-4 my-2" *ngFor="let item of products; let i = index;">
            <div class="card">
                <img [src]="item.image" class="card-img-top" alt="food">
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="card-text">{{item.description}}</p>
                    <p>${{item.price}}</p>
                    <a class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>

    </div>

</div>